@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
:root {
  /* 강조색 */
  --color0: #378ef0;
  --color0-sub: #99c9ff;

  /* 일반적인 글자 */
  --color1: #fff;

  --color2: #f2eeeb;
  --color4: #d9cbc0;
  --color5: #a68572;

  /* 짙은 회색 */
  --color6: #444;

  /* 컬러 10 위에 쓸 호버 배경색 */
  --color9: rgba(240, 240, 240, .06);

  /* 헤더, 푸터 가장 어두운 배경색 */
  --color10: #191919;

  // 홈 타이틀
  --font35: 35px;

  // 진행 바 크기
  --progress: 40px;
}

*{ margin: 0; padding: 0; box-sizing: border-box; line-height: 1; }
html, body{ position: relative; height: 100%; color: var(--color6); font-family: 'Noto Sans KR', sans-serif; }
li{ list-style: none; }
a{ font-family: 'Noto Sans KR', sans-serif; text-decoration: none; color: var(--color6); }
a:hover{ text-decoration: underline; }

br.mobile_show{
  display: none;
}

/* 헤더 */
header{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  // top: 100vh;
  width: 100%;
  height: 60px;
  background-color: var(--color10);
  box-shadow: 0 0 3px var(--color10);
  z-index: 100;
}
.fixed{
  position: fixed;
  top: 0;
}
nav ul{
  display: flex;
}
nav li{
  margin: 0 15px;
  color: var(--color1);
  cursor: pointer;
  transition: color .4s;
  &:hover{
    color: var(--color0-sub);
  }
}
.progress_bar{
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--color0);
  border-radius: 2px;
  z-index: 50;
}
.progress_bar:before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 4px;
  background-color: var(--color0);
  opacity: .6;
  z-index: 25;
}

/* 섹션 */
section{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}
h2{
  display: inline-block;
  position: relative;
  font-size: var(--font35);
  &.underline:before{
    content: '';
    display: block;
    position: absolute;
    bottom: -25px;
    left: 50%;
    width: 70%;
    height: 3px;
    background: var(--color0);
    transform: translateX( -50% );
  }
}

#home{
  overflow: hidden;
  background-color: var(--color10);
  justify-content: center;
  h2{
    color: var(--color1);
    word-break: keep-all;
  }
}

#canvas{
  position: absolute;
  top: 0;
  left: 0;
}

#about{
  padding: 120px 0 60px;
  min-height: calc( 100vh - 36px);
  word-break: keep-all;
  ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70%;
    li{
      img{
        width: 20%;
      }
      p{
        line-height: 1.5;
      }
    }
  }
}

/* progress bar style 진행바 */
.progressbar{
  margin: 0 auto;
  width: 70%;
  .items_wrap{
    background: var(--color2);
    display: flex;
    align-items: center;
    min-width: 100px;
    height: var(--progress);
    font-weight: bold;
    .title{
      flex: 0 1 100px;
      line-height: var(--progress);
      color: var(--color1);
      background: var(--color0);
      box-sizing: border-box;
    }
    .percent{
      flex: 1;
      p{
        padding: 0 15px;
        text-align: left;
        line-height: var(--progress);
        color: var(--color10);
        background: var(--color0-sub);
      }
    }
    &:not(:first-child){
      margin-top: 10px;
    }
    // &:nth-of-type(1) .percent p{
    //   width: 90%;
    // }
    // &:nth-of-type(2) .percent p{
    //   width: 90%;
    // }
    // &:nth-of-type(3) .percent p{
    //   width: 70%;
    // }
    // &:nth-of-type(4) .percent p{
    //   width: 80%;
    // }
    // &:nth-of-type(5) .percent p{
    //   width: 90%;
    // }
  }
}

.row + .row{
  margin-top: 80px;
}

#project{
  padding: 120px 0 120px;
  background: #fff;
}
.list_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.list{
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  width: 400px;
  height: 300px;
  max-height: 300px;
}
.list:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat center center / contain;
  transform: scale( 1 );
  transition: all .2s;
}
.list:hover:before{
  transform: scale( 1.05 );
  filter: blur(1px);
  opacity: .3;
}
.list_text_wrap{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  opacity: 0;
  transition: .2s;
}
.list:hover .list_text_wrap{
  opacity: 1;
}
.list_text_wrap .list_title{
  display: inline-block;
}
.list_title{
  position: relative;
  font-size: 21px;
  font-weight: bold;
  padding: 10px 20px 0px;
  line-height: 1;
  text-transform: capitalize;
  border-radius: 5px 5px 0 0;
}
.list:hover .list_title, .list:hover .list_subtitle, .list:hover .view{
  background: rgba(255, 255, 255, .85);
}
.list_subtitle{
  position: relative;
  padding: 10px 20px 10px;
  line-height: 1.5;
  border-radius: 5px;
}
.view{
  position: relative;
  padding: 15px 30px 15px 53px;
  border-radius: 5px;
  text-transform: uppercase;
}
.view:before{
  content: '';
  position: absolute;
  top: 15px;
  left: 27px;
  width: 18px;
  height: 18px;
  background: url('../img/open_in_new_black_18dp.svg') no-repeat center;
}
.stx:before{
  background-image: url('../img/stx.jpg');
}
.adobe:before{
  background-image: url('../img/adobe.jpg');
}
.daegu:before{
  background-image: url('../img/daegu.jpg');
}
.nauib:before{
  background-image: url('../img/nauib.jpg');
}
.shes:before{
  background-image: url('../img/shes.jpg');
}
.lg:before{
  background-image: url('../img/lg.jpg');
}
.nhis:before{
  background-image: url('../img/nhis.jpg');
}
.portfolio:before{
  background-image: url('../img/portfolio.jpg');
}


/* 푸터 */
footer{
  padding: 10px 0;
  color: var(--color4);
  text-align: center;
  background-color: var(--color10);
}
footer a{
  color: var(--color2);
  font-weight: bold;
}
address{
  display: inline;
  font-style: normal;
}


@media screen and ( max-width: 768px ){
  #about{
    height: auto;
    li:not(:first-child){
      margin-top: 30px;
    }
  }
}

@media screen and ( max-width: 424px ){
  .list{
    height: 70vw;
  }
  br.mobile_show{
    display: block;
  }
}
